.launching-container{
  background: #fff;
  padding-top: 100px;
}
.launching{
    height: 128px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
    box-sizing: border-box;
    background: #181423;
  }
  .launching h1{
    color: #fff;
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 59px;
    letter-spacing: 0.33em;
  }
  